<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/doctors.css">
    <script src="doctors.js"></script>
    <title>Doctors appointment list</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="#"><i class="fa fa-user-md" aria-hidden="true"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="mardo">
      <span class="badge badge-pill badge-info">246 Pending</span>
      <span class="badge badge-pill badge-danger">2 Rejected</span>
      <span class="badge badge-pill badge-success">5 Accepted</span>
      </div>
      <div class="container">
<div class="card-deck">
    
    <div class="card" id="c1" >
        <div class="card-body">
          <h5 class="card-title">FULL NAME</h5>
          <p class="card-text">Brief description of the problem At nonumy et ut labore dolor gubergren eos consetetur aliquyam gubergren. No dolore ipsum est rebum consetetur sit et, eirmod eirmod sed rebum dolore invidunt.</p>
          <hr>
          <p>DATE</p>
          <hr>
          <p>TIME</p>
        </div>
        <div class="card-body">
            <a href="#" class="card-link">Uploaded Records</a><hr>
            <div class="spacing">
            <a href="#" class="btn btn-success xyz">Accept</a>
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
    </div>
    
    
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">FULL NAME</h5>
              <p class="card-text">Brief description of the problem At nonumy et ut labore dolor gubergren eos consetetur aliquyam gubergren. No dolore ipsum est rebum consetetur sit et, eirmod eirmod sed rebum dolore invidunt.</p>
              <hr>
              <p>DATE</p>
              <hr>
              <p>TIME</p>
            </div>
            <div class="card-body">
                <a href="#" class="card-link">Uploaded Records</a><hr>
                <div class="spacing">
                <a href="#" class="btn btn-success xyz">Accept</a>
                <a href="#" class="btn btn-danger xyz">Reject</a>
                </div>
              </div>
        </div>
    
    
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">FULL NAME</h5>
              <p class="card-text">Brief description of the problem At nonumy et ut labore dolor gubergren eos consetetur aliquyam gubergren. No dolore ipsum est rebum consetetur sit et, eirmod eirmod sed rebum dolore invidunt.</p>
              <hr>
              <p>DATE</p>
              <hr>
              <p>TIME</p>
            </div>
            <div class="card-body">
                <a href="#" class="card-link">Uploaded Records</a><hr>
                <div class="spacing">
                <a href="#" class="btn btn-success xyz">Accept</a>
                <a href="#" class="btn btn-danger xyz">Reject</a>
                </div>
              </div>
        </div>
    
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">FULL NAME</h5>
              <p class="card-text">Brief description of the problem At nonumy et ut labore dolor gubergren eos consetetur aliquyam gubergren. No dolore ipsum est rebum consetetur sit et, eirmod eirmod sed rebum dolore invidunt.</p>
              <hr>
              <p>DATE</p>
              <hr>
              <p>TIME</p>
            </div>
            <div class="card-body">
                <a href="#" class="card-link">Uploaded Records</a><hr>
                <div class="spacing">
                <a href="#" class="btn btn-success xyz">Accept</a>
                <a href="#" class="btn btn-danger xyz">Reject</a>
                </div>
              </div>
        </div>
    
</div>
<hr>
<hr>
<hr>
<div class="card-deck">
    
    <div class="card" >
        <div class="card-body">
          <h5 class="card-title">FULL NAME</h5>
          <p class="card-text">Brief description of the problem At nonumy et ut labore dolor gubergren eos consetetur aliquyam gubergren. No dolore ipsum est rebum consetetur sit et, eirmod eirmod sed rebum dolore invidunt.</p>
          <hr>
          <p>DATE</p>
          <hr>
          <p>TIME</p>
        </div>
        <div class="card-body">
            <a href="#" class="card-link">Uploaded Records</a><hr>
            <div class="spacing">
            <a href="#" class="btn btn-success xyz">Accept</a>
            <a href="#" class="btn btn-danger xyz">Reject</a>
            </div>
          </div>
    </div>
    
    
    <div class="card" >
        <div class="card-body">
          <h5 class="card-title">FULL NAME</h5>
          <p class="card-text">Brief description of the problem At nonumy et ut labore dolor gubergren eos consetetur aliquyam gubergren. No dolore ipsum est rebum consetetur sit et, eirmod eirmod sed rebum dolore invidunt.</p>
          <hr>
          <p>DATE</p>
          <hr>
          <p>TIME</p>
        </div>
        <div class="card-body">
            <a href="#" class="card-link">Uploaded Records</a><hr>
            <div class="spacing">
            <a href="#" class="btn btn-success xyz">Accept</a>
            <a href="#" class="btn btn-danger xyz">Reject</a>
            </div>
          </div>
    </div>
    
    <div class="card" >
        <div class="card-body">
          <h5 class="card-title">FULL NAME</h5>
          <p class="card-text">Brief description of the problem At nonumy et ut labore dolor gubergren eos consetetur aliquyam gubergren. No dolore ipsum est rebum consetetur sit et, eirmod eirmod sed rebum dolore invidunt.</p>
          <hr>
          <p>DATE</p>
          <hr>
          <p>TIME</p>
        </div>
        <div class="card-body">
            <a href="#" class="card-link">Uploaded Records</a><hr>
            <div class="spacing">
            <a href="#" class="btn btn-success xyz">Accept</a>
            <a href="#" class="btn btn-danger xyz">Reject</a>
            </div>
          </div>
    </div>
    <div class="card" >
        <div class="card-body">
          <h5 class="card-title">FULL NAME</h5>
          <p class="card-text">Brief description of the problem At nonumy et ut labore dolor gubergren eos consetetur aliquyam gubergren. No dolore ipsum est rebum consetetur sit et, eirmod eirmod sed rebum dolore invidunt.</p>
          <hr>
          <p>DATE</p>
          <hr>
          <p>TIME</p>
        </div>
        <div class="card-body">
            <a href="#" class="card-link">Uploaded Records</a><hr>
            <div class="spacing">
            <a href="#" class="btn btn-success xyz">Accept</a>
            <a href="#" class="btn btn-danger xyz">Reject</a>
            </div>
          </div>
    </div>
    </div>
</div>
</body>
</html>