<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/Auth/CSS/FindMyDoc.css" />
  <title>Virtual Clinic</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" href="#home"><i class="fa fa-user-md" aria-hidden="true"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#consult">Consult Now</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a href="Registration.html" class="btn btn-success" role="button">REGISTER</a>
      </form>
    </div>
  </nav>
  <div class="filters">
    <div class="container">
      <br />
      <div class="row">
        <div class="badge badge-primary">Filters</div>
        <nav class="navbar navbar-light bg-light">
          <div class="searchBar">
            <input type="search" id="search" />
            <button class="btn-lg btn-success" onclick="iterate(this)">Search</button>
            <!--<form class="form-inline">
            <input class="form-control mr-sm-2" type="search" id="search" placeholder="Search" aria-label="Search">
            <button onsubmit="return false" class="btn btn-outline-success my-2 my-sm-0" onclick="iterate(this)" id="searchBtn">Search</button>
          </form>-->
          </div>
        </nav>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Specialisation</label>
          <select class="form-control" id="specialisation" onchange="searchspec(this);">
            <option>Diabetologist</option>
            <option>General Physician</option>
            <option>Gynaecologist</option>
            <option>Physiotherapist</option>
            <option>Dermatologist</option>
          </select>
        </div>
      </div>
    </div>
    <h3 style="color: black; text-align: center; margin-top: 7px;">According to the symptoms you filled the possible disease is : <b style="color: red;">{{a}}</b></h3>

    <div id="results">
      <a href = '/details/'>
      <div id="d1">

        <div class="container" id="h">
          <div class="row" id="e">
            <div class="col-12 mt-3" id="l">
              <div class="card" id="o">
                <div class="card-horizontal" id="b">
                  <div class="img-square-wrapper">
                    <img class="doc"
                      src="https://media.istockphoto.com/photos/portrait-of-smiling-handsome-man-in-blue-tshirt-standing-with-crossed-picture-id1045886560?k=6&m=1045886560&s=612x612&w=0&h=hXrxai1QKrfdqWdORI4TZ-M0ceCVakt4o6532vHaS3I="
                      width="300px" height="200px" alt="doc">
                  </div>
                  <div class="card-body" id="o">
                    <p class="card-title" id="c1">Dr. Ashish Shah</p>
                    <p class="card-text"><span id = 'z1'>General Physician</span>, 10 years of experience<br />Konkani Hospital</p>
                    <p class="card-text"><b>Chembur, Mumbai<br /><span>Consulation Fee: Rs. 1000</span></b></p>
                  </div>
                </div>
                <a href="details.html" class="btn btn-danger" role="button">Book Now</a>
              </div>

            </div>
          </div>


        </div>
      </div>
    </a>
      <div id="d2">
        <div class="container">
          <div class="row">
            <div class="col-12 mt-3">
              <div class="card">
                <div class="card-horizontal">
                  <div class="img-square-wrapper">
                    <img class="doc"
                      src="https://diverseeducation.com/wp-content/themes/responsive/timthumb.php?src=https%3A%2F%2Fimages-diverse.s3.amazonaws.com%2Fuploads%2F2020%2F12%2F07152536%2FDavila-Montero-1-1-e1615822390751.jpg&q=90&w=300&h=180&zc=1"
                      width="300px" height="200px" alt="doc">
                  </div>
                  <div class="card-body">
                    <p class="card-title" id="c2">Dr. Smriti Gongalez</p>
                    <p class="card-text"><span id = 'z2'>Gynaecologist</span>, 6 years of experience<br />Karnavati Hospital</p>
                    <p class="card-text"><b>Andheri, Mumbai<br /><span>Consulation Fee: Rs. 2000</span></b></p>
                  </div>
                </div>
                <a href="details.html" class="btn btn-danger" role="button">Book Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="d3">
        <div class="container">
          <div class="row">
            <div class="col-12 mt-3">
              <div class="card">
                <div class="card-horizontal">
                  <div class="img-square-wrapper">
                    <img class="doc"
                      src="https://media.istockphoto.com/photos/portrait-of-smiling-handsome-man-in-blue-tshirt-standing-with-crossed-picture-id1045886560?k=6&m=1045886560&s=612x612&w=0&h=hXrxai1QKrfdqWdORI4TZ-M0ceCVakt4o6532vHaS3I="
                      width="300px" height="200px" alt="doc">
                  </div>
                  <div class="card-body">
                    <p class="card-title" id="c3">Dr. Rajendra Sharma</p>
                    <p class="card-text" ><span id="z3">General Physician</span>, 10 years of experience<br />Konkani Hospital</p>
                    <p class="card-text"><b>Chembur, Mumbai<br /><span>Consulation Fee: Rs. 1000</span></b></p>
                  </div>
                </div>
                <a href="details.html" class="btn btn-danger" role="button">Book Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="d4">
        <div class="container">
          <div class="row">
            <div class="col-12 mt-3">
              <div class="card">
                <div class="card-horizontal">
                  <div class="img-square-wrapper">
                    <img class="doc"
                      src="https://diverseeducation.com/wp-content/themes/responsive/timthumb.php?src=https%3A%2F%2Fimages-diverse.s3.amazonaws.com%2Fuploads%2F2020%2F12%2F07152536%2FDavila-Montero-1-1-e1615822390751.jpg&q=90&w=300&h=180&zc=1"
                      width="300px" height="200px" alt="doc">
                  </div>
                  <div class="card-body">
                    <p class="card-title" id="c4">Dr. Varija Verma</p>
                    <p class="card-text" ><span id="z4">Gynaecologist</span>, 6 years of experience<br />Karnavati Hospital</p>
                    <p class="card-text"><b>Andheri, Mumbai<br /><span>Consulation Fee: Rs. 2000</span></b></p>
                  </div>
                </div>
                <a href="details.html" class="btn btn-danger" role="button">Book Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/0dfdf90590.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script>

      function diff(b) {
        lst = []
        str = ''
        for (var i in b) {
          if (b[i] == ' ') {
            lst.push(str);
            str = '';
          }
          str += b[i];
        }
        lst.push(str);
        return lst;
      }

      var backup = document.getElementById('results').innerHTML;
      function iterate(a) {
        document.getElementById('results').innerHTML = backup;
        var l;
        l = [1, 2, 3, 4];
        var b = document.getElementById('search').value;
        for (var i = 1; i <= 4; i++) {
          var x = 'c' + i
          var c = document.querySelector('#' + x);
          lst = diff(c.innerText);
          for (var gg in lst) {
            if (b == lst[gg].trim()) {
              //  var e=a.id;
              var e = c.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.id;
              var f = document.getElementById(e).innerHTML
              document.getElementById('results').innerHTML = f;
            }
          }
        }
      }

      function searchspec(a){
        var z = 'z';
        var req = document.getElementById('specialization').value;
        console.log(req);
        for(var i = 1; i <= 4; i++){
          var b = document.getElementById(z + i).value
          if(b == req){
              var e = b.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.id;
              var f = document.getElementById(e).innerHTML
              document.getElementById('results').innerHTML = f;
          }
        }
      }

    </script>
</body>

</html>